.network-graph-sidebar {
  position: fixed;
  background-color: #f3f3f3;
  z-index: 7;
  top: 0;
  right: -400px;
  width: 400px;
  transition: right 1s ease 0s;
  border-left: 2px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-shadow: -0.5px 1px 1px 0 gray;
  transition: all 0.5s ease 0s;
}

.network-graph-sidebar-overlay {
  position: absolute;
  visibility: hidden;
  z-index: 6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(235, 230, 230, 0.5);
  transition: all 1s ease 0;
}

.network-graph-sidebar-header {
  position: relative;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.network-graph-sidebar-header__closeBtn {
  width: 30px;
  font-size: 2em;
}

.network-graph-sidebar-header__text {
}
