.cy-context-menus-cxt-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  border: 1px solid #a0a0a0;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  width: auto;
}

.cy-context-menus-cxt-menuitem {
  display: block;
  z-index: 1000;
  width: 100%;
  padding: 5px 30px;
  position: relative;
  margin: 0;
  background-color:#f8f8f8;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 14px;
  white-space: nowrap;
  text-align: left;
}

.cy-context-menus-cxt-menuitem:enabled {
  color: #000000;
}

.cy-context-menus-ctx-operation:focus {
  outline: none;
}

.cy-context-menus-cxt-menuitem:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0b9bcd;
  background-image: none;
  cursor: pointer;
}

.cy-context-menus-cxt-menuitem[content]:before {
  content: attr(content);
}

.cy-context-menus-divider {
  border-bottom: 1px solid #a0a0a0;
}
