.network-graph-toolbar {
  display: flex;
  border: 1px solid lightgrey;
  flex-flow: column nowrap;
  border-radius: 5px 0 0 5px;
  font-family: 'Roboto';
  box-shadow: 1px -1px 5px lightgray;
  z-index: 5;
}

.network-graph-toolbar-category:first-child p {
  margin-top: 0;
  border-top-left-radius: 4px;
}

.network-graph-toolbar-category__title {
  height: 30px;
  padding-top: 10px;
  background-color: #f3f3f3;
  font-weight: bold;
  text-align: center;
}

.network-graph-toolbar-category-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.network-graph-toolbar-item {
  display: flex;
  justify-content: flex-start;
  width: 120px;
  height: 28px;
  margin: 5px 10px 5px 10px;
  border: 1px solid grey;
  border-radius: 2px;
  cursor: move;
  box-shadow: 2px 1px gray;
}

.network-graph-toolbar-item__container-icon {
  height: 28px;
  width: 30px;
  border-right: solid 1px gray;
}

.network-graph-toolbar-item__container-title {
  height: 28px;
  width: 90px;
  padding-top: 5px;
  text-align: center;
}

.network-graph-toolbar-item:focus {
  outline: none;
}

.network-graph-toolbar-item:hover {
  box-shadow: none;
}

div [data-toolbar-item-type="FILE"] {
  background-color: orange;
}

div [data-toolbar-item-type="DATASETS"] {
  background-color: orange;
}

div [data-toolbar-item-type="TREE_VIEWER"] {
  background-color: lightcoral;
}

div [data-toolbar-item-type="SCATTER_PLOT"] {
  background-color: lightcoral;
}

div [data-toolbar-item-type="TREE"] {
  background-color: lightpink;
}

div [data-toolbar-item-type="SVM"] {
  background-color: lightpink;
}